<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/authorization/CSS/index.css">
    <title>Регистрация преподавателя</title>
</head>
<body>
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
     id="modalSignin">
    <div class="modal-dialog" style=" margin: 100px auto ;height: 450px;" role="document">
        <div class="modal-content rounded-4 shadow">
            <img src="../../static/authorization/img/logo_registration.png"
                 style=" margin: 20px auto 0px; ">
            <h1 align="center" class="btn-logo-style">
                <ya-tr-span data-index="15-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Sign up for free" data-translation="Зарегистрируйтесь бесплатно" data-ch="0"
                            data-type="trSpan" style="font-size: 32px">Восстановление пароля
                </ya-tr-span>
            </h1>
            <div class="modal-body p-5 pt-0">
                <form method="POST"
                      action="/password-reset-complete/?token_valid={{ request.GET.token_valid }}&message={{ request.GET.message }}&uidb64={{ request.GET.uidb64 }}&token={{ request.GET.token }}"
                      class="wizard-form"
                      enctype="application/x-www-form-urlencoded"
                      autocomplete="off"
                >
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-5" id="floatingInput" name="password1"
                               placeholder="name@example.com">
                        <label for="floatingInput">
                            <ya-tr-span data-index="16-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="Email address" data-translation="Эл. адрес"
                                        data-ch="0" data-type="trSpan">Новый пароль
                            </ya-tr-span>
                        </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-5" id="floatingPassword" name="password2"
                               placeholder="code from email">
                        <label for="floatingPassword">
                            <ya-tr-span data-index="16-0" data-translated="true" data-source-lang="en"
                                        data-target-lang="ru" data-value="code from email"
                                        data-translation="повтор пароля"
                                        data-ch="0" data-type="trSpan">Повторите пароль
                            </ya-tr-span>
                        </label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn">
                            Подтвердить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>