<header class="visible-grid">
    <div class="container visible-grid">
        <div class="row text-center align-items-center visible-grid">
            <div class="col-auto text-start logo-gstyle visible-grid" style="padding-left: 0px;">
                <a href="{% url 'index' %}" class="btn-logo-style visible-grid">IPM school</a>
            </div>
            <div class="col-auto text-start hmenu-gstyle visible-grid">
                <a href="{% url 'page_student_lk' %}" class="btn-hmenu">Личный кабинет</a>
            </div>
            <div class="col-auto text-start hmenu-gstyle visible-grid">
                <a href="{% url 'page_student_class' %}" class="btn-hmenu">Учебный класс</a>
            </div>
            <div class="col text-end visible-grid" style="padding-right: 0px;">
                <img src="../../static/img/image_2023-07-05_13-17-03.png" width="40px" height="40px">
            </div>
            <div class="col-auto text-end visible-grid" style="padding-right: 0px;">
                <div class="btn-hmenu">Иван</div>
            </div>
        </div>
    </div>
</header>
