<header class="visible-grid">
    <div class="container visible-grid">
        <div class="row text-center align-items-center visible-grid">
            <div class="col-auto text-start logo-gstyle visible-grid" style="padding-left: 0px;">
                <a href="{% url 'index' %}" class="btn-logo-style visible-grid">IPM school</a>
            </div>
            <div class="col-auto text-start hmenu-gstyle visible-grid">
                <a href="{% url 'page_student_lk' %}" class="btn-hmenu">Личный кабинет</a>
            </div>
            {% if user.group_id %}
                <div class="col-auto text-start hmenu-gstyle visible-grid">
                    <a href="{% url 'page_student_class' %}" class="btn-hmenu">Учебный класс</a>
                </div>
            {% endif %}
            <div class="col text-end" style="padding-right: 0px; justify-items: end">
                {% load static %}
                <img src="{% static ava_path %}" width="40px" height="40px" style="border-radius: 50%">
            </div>
            <div class="col-auto text-end border-right" style="padding-right: 0px;">
                <div class="btn-hmenu">{{ user.name }}</div>
            </div>
            <div class="col-auto text-end">
                <a href="/logout/" class="btn-login">Выйти<img src="../../static/img/logout.png"></a>
            </div>
        </div>
    </div>
</header>
