<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IPM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/CSS/index.css">
    <style>
        @font-face {
            font-family: Dela Gothic One;
            src: url("../../static/fonts/DelaGothicOne-Regular.ttf");
        }
        @font-face {
            font-family: Montserrat-Regular;
            src: url("../../static/fonts/Montserrat-Regular.otf");
        }
        @font-face {
            font-family: Montserrat-Bold;
            src: url("../../static/fonts/Montserrat-Bold.otf");
        }
    </style>

</head>

<body style="background-color: #F6F5F4">

    <header class="visible-grid">
        <div class="container visible-grid">
            <div class="row text-center align-items-center visible-grid">
                <div class="col-auto text-start logo-gstyle visible-grid" style="padding-left: 0px;">
                    <a href="#" class="btn-logo-style visible-grid">IPM school</a>
                </div>
                <div class="col-auto text-start hmenu-gstyle visible-grid">
                    <a href="#" class="btn-hmenu">Личный кабинет</a>
                </div>
                <div class="col-auto text-start hmenu-gstyle visible-grid">
                    <a href="#" class="btn-hmenu">Учебный класс</a>
                </div>
                <div class="col text-end visible-grid" style="padding-right: 0px;">
                    <img src="../../static/img/image_2023-07-05_13-17-03.png" width="40px" height="40px">
                </div>
                <div class="col-auto text-end visible-grid" style="padding-right: 0px;">
                    <div class="btn-hmenu">Иван</div>
                </div>
            </div>
        </div>
    </header>
