<div class="footer mt-auto visible-grid" style="background-color: #F6F5F4">
    <div class="container visible-grid">
        <div class="row text-center visible-grid border-top">
            <div class="col-auto visible-grid">
                <a href="#" class="main-text"><img src="../static/img/Vector.png"></a>
            </div>
            <div class="col-auto visible-grid">
                <a href="#" class="main-text"><img src="../static/img/youtube.png"></a>
            </div>
            <div class="col-auto visible-grid">
                <a href="#" class="main-text"><img src="../static/img/GT.png"></a>
            </div>
            <div class="col visible-grid">
            </div>
            <div class="col-auto visible-grid">
               <span class="main-text">©2023 IPM. Project for </span> <a href="#" class="main-text">НейроSPOC.</a>
            </div>
        </div>
    </div>
</div>
</html>