@font-face {
    font-family: 'Dela Gothic One';
    src: URL('../../fonts/DelaGothicOne-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Montserrat';
    src: URL('../../fonts/Montserrat-Regular.otf') format('truetype');
  }
.btn-logo-style  {
    font-family: "Dela Gothic One";
    font-weight: bold;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.btn-hmenu {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    Line height: 15px;
}
.modal{
    background: #F6F5F4;
    display: flex;
    height: 100vh;
}
.modal-dialog {
    width: 400px;
    margin-top: 4%;
    display: flex;
    min-height: 200px;
}
.modal-body {
    padding: 10px 48px;
}
label {
    font-size: 14px;
}
.form-floating{
    font-family:Montserrat;
    font-style: normal;
    font-size: 18px;
    width: 245px;
    margin: 0 auto;
    font-weight: 600;
}
.text-body-secondary {
    font-size: 10px;
}
.btn {
    font-family:Montserrat ;
    font-size: 16px;
    font-weight: 600;
    color: #2B788B;
    border-color: #C3DCE3;
    background-color: #C3DCE3;
    border-radius: 100px;
    cursor: pointer;
}
.btn:hover {
    border-color: #afdfed;
    background-color: #afdfed;
    color: #2B788B
}

.miy {
    font-family:Montserrat;
    font-size: 16px;
    font-weight: 600;
    color: #2B788B;
    margin-left: 150px;
    padding: 0px 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
}

.note {
    padding: 20px 0;
    font-family:Montserrat ;
    font-size: 12px;
    color: red;
}
.note:empty {
    padding: 10px;
}